@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/video-react/dist/video-react.css";


/* Define the custom fonts using @font-face */
@font-face {
  font-family: 'MonumentExtended';
  src: url('./font/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('./font/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/static/Montserrat-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/static/Montserrat-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/static/Montserrat-SemiBold.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: 'MonumentExtended', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFFB8;
  background-color: #1B0E00;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.button_background{
  background: linear-gradient(90deg, #ff3e02 0%, #f9a503 100%);
}

/* styles.css */
.button-gradient-transition {
  @apply text-[12px] md:text-[18px] font-normal px-8 md:px-[50px] py-3 md:py-5 rounded-md md:border-[2px] border-[#FFEBA0] mx-auto md:mx-0 transition-transform duration-300 ease-in-out transform hover:scale-105;

  background: linear-gradient(to right, #ff3e02, #f9a503);
  transition: background 0.5s ease-in-out;
}

.button-gradient-transition:hover {
  background: linear-gradient(to right, #f9a503, #ff3e02);
}


#slider {
  display: flex;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#slider li {
  flex-shrink: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
